
@media screen and (max-width: 768px) {
    
    .infos > #myChart{
        max-height: 10px;
    }
    .search-container input[type=search]{
        width: 300px;  
        
    }
    
    .search-container {
        clear: both;
        display: none; 
    }

    .top-right> .small{
        visibility: visible  ;
    }
    #myChart, #myLineChart, #myBarChart{
        max-height: 40px;
    } 
    .menu{
        display: none;
    }
   .right_sidebar{
       display: none;
   }
}

@media screen and (max-width: 1200px) {

    .container{
        padding: 0 5px;
    }
    .info{
        margin-top: 15px;   
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
        width: 100%;
    }
    
    .invoice_details{
        
       
        width: 100%;
        padding-bottom: 10px;
    }
    
    .invoice_table{
        
        width: 100%;
    }

    .topnav .search-container button {
        padding: 0 auto;
        margin: 0 auto;
    }

    .search-container input[type=search]{
        width: 400px;    
    }

    .container{
        position: relative;
        top: 0;
    }

    .menu, #search_responsive, .right_sidebar{
        display: none;
    }

    #myChart, #myLineChart, #myBarChart{
        max-height: 40px;
    } 

}

@media screen and (min-width: 1201px) {
    #search_responsive{
        display: none;
    }
}